#neg-sen-mov-disp {
  display: none;
}

#neg-res-aut-disp {
  display: none;
}

#neg-aju-tem-disp {
  display: none;
}

#neg-inv-aut-disp {
  display: none;
}

#neg-sen-pes-disp {
  display: none;
}

#neg-cam-vis-disp {
  display: none;
}

#neg-ped-aut-disp {
  display: none;
}

#neg-pan-vit-disp {
  display: none;
}

#neg-aju-aut-disp {
  display: none;
}

#neg-cam-ia-disp {
  display: none;
}

#neg-cam-int-disp {
  display: none;
}

#neg-cam-rec-disp {
  display: none;
}

/* ----------- */

#neg-por-aut-disp {
  display: none;
}

#neg-sen-seg-disp {
  display: none;
}

#neg-con-est-disp {
  display: none;
}

#neg-bal-car-disp {
  display: none;
}

#neg-com-ene-disp {
  display: none;
}

#neg-car-int-disp {
  display: none;
}

#neg-int-car-disp {
  display: none;
}

#neg-hor-eco-disp {
  display: none;
}

#neg-rob-ayu-disp {
  display: none;
}

#neg-rob-asp-disp {
  display: none;
}

#neg-rob-lle-disp {
  display: none;
}
