#pet-rie-aut-disp { display: none; }
#pet-luz-jar-disp { display: none; }
#pet-int-hom-disp { display: none; }
#pet-cam-ext-disp { display: none; }
#pet-cam-res-disp { display: none; }
#pet-cam-sen-disp { display: none; }
#pet-com-int-disp { display: none; }

#pet-ali-aut-disp { display: none; }
#pet-pro-hor-disp { display: none; }
#pet-det-chi-disp { display: none; }
#pet-fue-agu-disp { display: none; }
#pet-fil-not-disp { display: none; }
#pet-pue-acc-disp { display: none; }
#pet-chi-ras-disp { display: none; }
#pet-cam-dis-disp { display: none; }
#pet-sen-act-disp { display: none; }
#pet-coll-mid-disp { display: none; }
#pet-lim-aut-disp { display: none; }
#pet-are-int-disp { display: none; }
#pet-rob-asp-disp { display: none; }
