#bom-lam-disp { display: none; }
#luz-hor-disp { display: none; }
#luz-lec-disp { display: none; }
#pro-amb-disp { display: none; }
#mod-din-disp { display: none; }
#pis-lum-disp { display: none; }
#lam-esp-disp { display: none; }
#luz-cor-disp { display: none; }
#luz-esc-disp { display: none; }
#il-per-disp { display: none; }
#il-eme-disp { display: none; }
#luz-jar-disp { display: none; }
#sis-rieg-disp { display: none; }
#cris-pan-disp { display: none; }
#per-cor-disp { display: none; }
#int-int-disp { display: none; }
#alt-int-disp { display: none; }
#ven-cro-disp { display: none; }
#cli-int-disp { display: none; }
#esp-int-disp { display: none; }
#vid-acu-disp { display: none; }
#mueb-car-disp { display: none; }
#sis-aro-disp { display: none; }
#col-par-disp { display: none; }
#ven-int-disp { display: none; }
#rob-ser-disp { display: none; }
#int-art-disp { display: none; }
#med-con-disp { display: none; }
#sen-hum-disp { display: none; }
#sen-gas-disp { display: none; }
#sens-hum-disp { display: none; }
#roc-aut-disp { display: none; }
#asi-int-disp { display: none; }
#alta-int-disp { display: none; }
#ref-int-disp { display: none; }
#mon-sue-disp { display: none; }
#rec-med-disp { display: none; }